<table class="table table-condensed">
    <thead>
        <tr>
            <th><input class="form-control" type="date" [(ngModel)]="fromDate"/></th>
            <th><input class="form-control" type="date" [(ngModel)]="toDate"/></th>
            <th><button class="btn btnPrime fullCover" (click)="validateAndSearch()" ><span class="fa fa-eye"></span> Search</button></th>
        </tr>
    </thead>
</table>
<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="centered indexCell matchDouble">#</th>
                <th class="extendedCell matchDouble">Room No</th>
                <th class="centered">Class</th>
                <th class="centered">Name</th>
                <th class="centered">AC</th>
                <th class="centered">Hotel / Villa</th>
                <th class="centered">Price</th>
                <th class="centered" colspan="2">Suite</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of rooms; let i=index;">
                <th>{{i+1}}</th>
                <td>{{record.roomNumber}}</td>
                <td>{{record.houseClass}}</td>
                <td>{{record.houseName}}</td>
                <td>{{record.isAc ? 'AC' : 'NON_AC'}}</td>
                <td>{{record.isHotel? 'HOTEL' : 'VILLA'}}</td>
                <td>{{record.price| number :'.2-2'}}</td>
                <td>{{record.suiteName}}</td>
                <td><button class="btn btnPrime" (click)="book(record.roomId)"><span class="fa fa-save"></span> Book</button></td>
            </tr>
            <tr *ngIf="rooms.length <1 ">
                <th colspan="9">No Record found</th>
                </tr>
        </tbody>
    </table>
</div>


<app-loader></app-loader>