.loaderScreen {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100000;
    text-align: center;
    background: rgba(40, 40, 40, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loaderScreen>img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.loaderScreen>h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke: 2px rgba(40, 40, 40, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loader {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}