<table class="table table-condensed">
    <thead>
        <tr>
            <th><button class="btn btnPrime fullCover" data-toggle="modal" data-target="#addFunds"><span class="fa fa-plus"></span> Add Funds</button></th>
            <th><button class="btn btnPrime fullCover" data-toggle="modal" data-target="#utilizeFunds"><span class="fa fa-eye"></span> Utilize Funds</button></th>
        </tr>
    </thead>
</table>


<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th class="centered indexCell matchDouble">#</th>
                <th class="extendedCell matchDouble">Transaction ID</th>
                <th class="centered">Amount</th>
                <th class="centered">Name</th>
                <th class="centered">Remarks</th>
                <th class="centered">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of funds; let i=index;">
                <th>{{i+1}}</th>
                <td>{{record.fundId}}</td>
                <td>{{record.amount| number :'.2-2'}}</td>
                <td>{{record.name}}</td>
                <td>{{record.remarks}}</td>
                <td>{{record.deposit? 'Deposited' : 'Utilized'}}</td>
            </tr>
            <tr *ngIf="funds.length <1 ">
                <th colspan="6">No Record found</th>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="addFunds" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content boxed">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title heading">Add Funds !</h4>
            </div>
            <form [formGroup]="form" (ngSubmit)="validateAndAdd()">
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input id="amount" type="number" class="form-control" formControlName="amount"
                            placeholder="Amount">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-info"></i></span>
                        <input id="remarks" type="text" class="form-control" formControlName="remarks"
                            placeholder="Remarks">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                        <input id="fullName" type="text" class="form-control" formControlName="name"
                            placeholder="Full Name">
                    </div>
                </div>
                <div class="modal-footer centered">
                    <button type="button" class="btn" data-dismiss="modal" (click)="validateAndAdd()">Add Funds</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="utilizeFunds" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content boxed">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title heading">Utilize Funds !</h4>
            </div>
            <form [formGroup]="utForm" (ngSubmit)="validateAndUtilize()">
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input id="amount" type="number" class="form-control" formControlName="amount"
                            placeholder="Amount">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-info"></i></span>
                        <input id="remarks" type="text" class="form-control" formControlName="remarks"
                            placeholder="Remarks">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                        <input id="fullName" type="text" class="form-control" formControlName="name"
                            placeholder="Full Name">
                    </div>
                </div>
                <div class="modal-footer centered">
                    <button type="button" class="btn" data-dismiss="modal" (click)="validateAndUtilize()">Utilize Funds</button>
                </div>
            </form>
        </div>

    </div>
</div>

<app-loader></app-loader>